body {
    background-color: #e0e8ff;
    background-size: contain;
    font-family: "Outfit", sans-serif;
    text-align: center;
}
.nav a{
    float: center;
    color: rgb(59, 58, 58);
    text-align: center;
    padding: 0px 90px;
    text-decoration: none;
}
.section {    
    display: grid;
    justify-content: center;
    background: url(./images/pattern-background-desktop.svg) no-repeat;
}
p {    
    color: rgb(59, 58, 58);
    padding-top: 50px;
}
.container {
    width: 500px;
    height: 700px;
}
.moi {
    width: 400px;
    height: 420px;
    border-radius: 10px;
}
footer {
    background-color: #d6e1ff;
    font-family: "Outfit", sans-serif;
    color: rgb(59, 58, 58);
    text-align: center;
    height: 100px;
}
