body {
    background-color: #e0e8ff;
    font-family: "Outfit", sans-serif;
}
.nav a{
    float: center;
    color: gray;
    text-align: center;
    padding: 0px 100px;
    text-decoration: none;
}
.container {
    background: url(./images/pattern-background-desktop.svg) no-repeat;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
.cont-1 {
    padding-top: 400px;
    padding-left: 100px;
    text-align: center;
}
.moi {
    width: 650px;
    height: 650px;
    border: 1px solid rgb(231, 236, 252);
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 50px;
    padding-bottom: 20px;
    background-color: #e0e8ff;
}
p {
    color: gray;
    font-size: large;
}
footer {
    background-color: #d6e1ff;
    font-family: "Outfit", sans-serif;
    color: rgb(59, 58, 58);
    text-align: center;
    height: 100px;
    padding-top: 30px;
}

