body {
    background-color: #e0e8ff;
    background-size: contain;
    font-family: "Outfit", sans-serif;
}
.nav a{
    float: center;
    color: rgb(59, 58, 58);
    text-align: center;
    padding: 0px 80px;
    text-decoration: none;
}
.cover {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px;
    justify-content: center;
    background: url(./images/pattern-background-desktop.svg) no-repeat;
    padding-top: 20px;
}
img {    
    border-radius: 10px;
}
.sample-1 {
    margin-left: 100px;
}
.sample-2 {
    margin-left: 100px;
}
.sample-3 {
    margin-left: 100px;
}
.sample-4 {
    margin-left: 100px;
}
.tic {
    width: 450px;
    height: 500px;
}
.sample-5 {
    margin-left: 100px;
}
.sample-6 {
    margin-left: 100px;
}
.js-web {
    width: 550px;
    height: 500px
}
p {
    font-family: "Outfit", sans-serif;
    margin-left: 100px;
    color: rgb(59, 58, 58);
}
.words {
    margin-left: 0px;
}
p a{        
    color: rgb(59, 58, 58);
    text-decoration: none;
    transition: 0.8s;
    cursor: pointer;
}
p a:hover {    
    text-decoration: underline;
    color: rgb(182, 48, 235);
}
footer {
    background-color: #d6e1ff;
    font-family: "Outfit", sans-serif;
    color: rgb(59, 58, 58);
    text-align: center;
    height: 100px;
    padding-top: 30px;
}