body {
    background-color: rgb(244, 243, 243);
    background-size: contain;
    font-family: "Outfit", sans-serif;
}
.nav a{
    float: center;
    color: rgb(107, 107, 107);
    text-align: center;
    padding: 0px 80px;
    text-decoration: none;
    transition: 0.8s;
    cursor: pointer;
}
.nav a:hover {
    color: rgb(217, 199, 158);
}
.nav i {
    color: rgb(107, 107, 107);
    transition: 0.8s;
    cursor: pointer;
}
.nav i:hover {
    color: rgb(217, 199, 158)
}
.cover {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px;
    padding-top: 50px;
}
img {    
    border-radius: 10px;
}
.sample-1 {
    margin-left: 300px;
}
.sample-2 {
    margin-left: 300px;
}
.sample-3 {
    margin-left: 300px;
}
.sample-4 {
    margin-left: 300px;
}
.tic {
    width: 450px;
    height: 500px;
    margin-left: 150px;
}
.cafe-menu {
    margin-left: 200px;
}
.nft-card {
    margin-left: 200px;
}
.order-summary {
    margin-left: 200px;
}
.qr-code {
    margin-left: 200px;
}
.sample-5 {
    margin-left: 300px;
}
.sample-6 {
    margin-left: 300px;
}
.sample-7 {
    margin-left: 300px;
}
.js-web {
    width: 700px;
    height: 500px;
    margin-left: 70px;
}
.todoapp {
    width: 700px;
    height: 500px;
    margin-left: 70px;
}
p {
    font-family: "Outfit", sans-serif;
    margin-left: 300px;
    color: rgb(59, 58, 58);
}
.words {
    margin-left: 50px;
}
.words-1 {
    margin-left: 50px;
    margin-right: 150px;
}
p a{        
    color: rgb(59, 58, 58);
    text-decoration: none;
    transition: 0.8s;
    cursor: pointer;
}
p a:hover {    
    text-decoration: underline;
    color: rgb(217, 199, 158);
}
footer {
    background-color: rgb(244, 243, 243);
    font-family: "Outfit", sans-serif;
    color: rgb(59, 58, 58);
    text-align: center;
    height: 100px;
    padding-top: 30px;
    margin-left: -170px;
}